/*@font-face{
    font-family: 'kxani';
    src: url(themes/kxani.woff);
}*/
.corner{
    margin-top: -55px;
    /*position: absolute;*/
    float: right;
    font-family: arial;
    font-size: smaller;
    direction: rtl;
}
section{
    direction: rtl;
    font-family: 'kxani';
}
section h2, section h3{
    text-align: center;
    margin:0;
}
.corner p{
    margin:0 25px 5px 0;
}
section p{
    margin:0 15px 2px 0;
    padding: 5px;
    padding-right: 15px;
    border-radius: 3px;
}
section p span{
    display: inline-block;
    width: 100px;
}
section .package{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}
.pedar{
    float:right;
    margin: 25px 150px 0 0;
}
.warger{
    float:left;
    margin: 25px 0 0 150px;
}
.clear{
    clear:both;
}
.ee{
    background-color: #EEE;
}
.dash{
    border-bottom: 1px dotted gray;
    margin: 40px 0 10px 0;
    text-align: center;
    font-family: courier new;
    font-size: 7px;
}
.dash2{
    margin: 20px 0 0 0;
    text-align: center;
    font-family: courier;
    font-size: 7px;
}
.jtable-command-column-header,.jtable-command-column{
            display: none;
        }

        .jtable-column-header-container{
            background: none;
        }


